.section1 {
    background-image: url('../image/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: 1000px;
    padding: 250px;
    color: rgb(6, 0, 0);
    font-size: large;
    margin-left: 150PX;
    margin-top: 50px;


}

.section1-details {
    text-align: center;
    font-size: larger;
}

header {
    max-width: 1600;
}

.off {
    text-align: center;
    color: red;
    font-size: 70px;
}

.section2-details-items {
    text-align: center;

}

.new {
    padding: 50px 270px;
    width: 702.9px;
    height: 400px;

}

.section3 {
    background-image: url('../image/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 50px 250px 50px 250px;
    background-size: 800px;

}

.section3-items {
    padding: 100px 750px 150px 20px;
    color: white;
    font-size: large;
    text-align: left;
}

.btn {
    background-color: aqua;
    border-radius: 5px;
}

main {
    background: #f1c6c6;
    max-width: 1320;
    margin: 150px;
    border-radius: 5px;
}

.date {
    color: red;
}

.time {
    text-align: center;
    padding-bottom: 50px;

}

.container {

    display: flex;
}

.container-right {
    width: 393px;
}

.container-left {
    width: 276px;
}

.grp {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}

.elps img {
    width: 264.844px;
    height: 264.844px;
    border-radius: 364.844px;
    background-image: url('../image/Ellipse\ 1.png'), lightgray -91.279px 0px / 150.038% 100% no-repeat;
}

.holiday-sales-images {
    background-image: url('../image/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    display: inline;

}

.b75 {
    background-image: url('../image/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.portfolio-1st-row {
    display: flex;

    border-radius: 16px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.gallery {
    /* margin-right: 28px; */

    display: inline;


}

.portfolio-images {
    padding-left: 30px;
    padding-bottom: 200px;
}

.protfolio-2nd-row {
    display: flex;
}


.disc {
    color: #070211;

    text-align: center;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 250px;

}

.email {
    margin: 50px 200px 0px 380px;
}

.box {
    /* padding: 0px 10px 0px 0px; */
    width: 200px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
}

.sub {
    color:white;
    text-align: center;
    font-size: 20px;

    font-weight: 200;
    text-transform: capitalize;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}
.item{
    background: #070211;
    color: white;
       
}

.columns{
    display: flex;
    align-items: center;
}
.column1{
    margin: 20px 200px 00px 140px;
    height: 80px;
    width: 375px;
}
.column2 {
    margin: 20px 150px 00px 40px;
}
.icons {
    margin: 20px 400px 20px 500px;
}